.configs{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.configs:last-of-type{
  margin-bottom: 0px;
}

.configs__title{
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.configs__hr{
  width: 95%;
}

.config__text{
  font-size: 18px;
  font-weight:  500;
  margin-left: 20px;
}

.config__input{
  margin-bottom: 5px;
  height: 24px;
  margin-left: 20px;
  max-width: 256px;
  width: calc(100% - 15px);
}

textarea{
  height: 64px;
  overflow-y: scroll;
  resize: none;
}

@media screen and (max-height: 770px) {
  body{
    align-items: flex-start;
  }
}

@media screen and (max-height: 855px) {
  .config{
    margin-bottom: 12.5px;
  }

  .config__text{
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  section{
    border-radius: 0;
    width: 100%;
  }
  
  .config{
    margin-bottom: 12.5px;
  }

  .config__text{
    font-size: 18px;
    margin-left: 7.5px;
  }

  .config__input{
    margin-left: 7.5px;
  }
}