.conf{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.conf:last-child{
  margin-bottom: 0px;
}

.conf__text{
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.conf__input{
  height: 24px;
  margin-left: 20px;
  max-width: 256px;
  width: calc(100% - 15px);
}

textarea{
  height: 64px;
  overflow-y: scroll;
  resize: none;
}

@media screen and (max-height: 770px) {
  body{
    align-items: flex-start;
  }
}

@media screen and (max-height: 855px) {
  .conf{
    margin-bottom: 12.5px;
  }

  .conf__text{
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  section{
    border-radius: 0;
    width: 100%;
  }
  
  .conf{
    margin-bottom: 12.5px;
  }

  .conf__text{
    font-size: 18px;
    margin-left: 7.5px;
  }

  .conf__input{
    margin-left: 7.5px;
  }
}