.sensors, .sensors__create{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sensors__title{
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.sensors__hr{
  width: 95%;
}

.sensor{
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
}


.sensor__conf{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.sensor__field{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sensor__conf select{
  width: 64px;
}

.sensor__conf input{
  width: 32px;
}

.sensors__create .sensor{
  margin-bottom: 0px;
}

.sensors__create .sensor__add{
  width: 48px;
  height: 24px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #0041ce;
  cursor: pointer;
}

@media screen and (max-height: 630px) {
  body{
    align-items: flex-start;
  }
}

@media screen and (max-width: 745px) {
  section{
    border-radius: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .sensor{
    margin-bottom: 15px;
  }
}